/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* #endregion */

/* #region Common */

.team-titel,
.portfolio-titel {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefits-subtitle,
.team-subtitel,
.portfolio-subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text,
.team-text,
.portfolio-text,
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion */

/* #region Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Hero */
.hero {
  background-color: #2e2f42;
}
.hero-titel {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Benefits */
.benefits {
}
.benefits-titel {
}
.benefits-list {
}
.benefits-item {
}

/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
}

.team-titel {
  text-transform: capitalize;
}

.team-list {
}

.team-item {
  background-color: #fff;
}

.team-img {
}

.team-subtitel {
  text-align: center;
}

.team-text {
  text-align: center;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
}

.portfolio-titel {
  text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-item {
  background-color: #fff;
}

.portfolio-img {
}

/* #endregion */

/* #region Footer */
.page-footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
}
/* #endregion */
